automation/workflows/cleanup_expired_deposits.json
{
  "name": "Plokymarket Cleanup Expired Deposits",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "events": [
        {
          "type": "scheduledTime",
          "resetSchedule": false
        }
      ]
    },
    {
      "parameters": {
        "jsCode": "// Query expired pending deposits (older than 24 hours)\nreturn {\n  json: {\n    query: `\n      SELECT d.id, d.user_id, d.amount, d.status, d.created_at,\n             u.email, u.full_name\n      FROM deposits d\n      JOIN users u ON u.id = d.user_id\n      WHERE d.status = 'pending'\n        AND d.created_at < NOW() - INTERVAL '24 hours'\n      ORDER BY d.created_at ASC\n      LIMIT 50\n    `\n  }\n};"
      },
      "id": "prepare-query",
      "name": "Prepare Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/execute_sql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "query-expired",
      "name": "Query Expired Deposits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract expired deposits\nconst response = $input.first().json;\nconst deposits = Array.isArray(response) ? response : [response].filter(Boolean);\n\n// Build rejection query\nconst depositIds = deposits.map(d => d.id);\nconst userNotifications = deposits.map(d => ({\n  user_id: d.user_id,\n  type: 'deposit_expired',\n  title: '❌ ডিপোজিট বাতিল হয়েছে',\n  title_bn: '❌ ডিপোজিট বাতিল হয়েছে',\n  body: `আপনার ৳${d.amount} ডিপোজিট ${new Date(d.created_at).toLocaleDateString('bn-BD')}-এ বাতিল করা হয়েছে। আবার চেষ্টা করুন।`,\n  body_bn: `আপনার ৳${d.amount} ডিপোজিট ${new Date(d.created_at).toLocaleDateString('bn-BD')}-এ বাতিল করা হয়েছে। আবার চেষ্টা করুন।`,\n  action_url: '/wallet/deposit',\n  created_at: new Date().toISOString()\n}));\n\nreturn {\n  json: {\n    deposits,\n    depositIds,\n    notifications: userNotifications,\n    count: deposits.length\n  }\n};"
      },
      "id": "extract-deposits",
      "name": "Extract Deposits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build update query for deposits\nconst data = $input.first().json;\n\nif (data.count === 0) {\n  return {\n    json: { skip: true, message: 'No expired deposits to clean up' }\n  };\n}\n\nconst ids = data.depositIds.map(id => `'${id}'`).join(',');\n\nreturn {\n  json: {\n    updateQuery: `\n      UPDATE deposits\n      SET status = 'rejected', updated_at = NOW()\n      WHERE id IN (${ids})\n    `,\n    notifications: data.notifications,\n    count: data.count\n  }\n};"
      },
      "id": "prepare-update",
      "name": "Prepare Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/execute_sql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "={{ $json.updateQuery }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-deposits",
      "name": "Reject Deposits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "sendBodyType": "json",
        "body": "={{ $json.notifications }}",
        "options": {}
      },
      "id": "insert-notifications",
      "name": "Insert Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format admin summary in Bengali\nconst data = $input.first().json;\n\nconst message = `\n🧹 <b>ডিপোজিট ক্লিনআপ রিপোর্ট</b>\n\n📊 <b>বাতিল ডিপোজিট:</b> ${data.count}টি\n⏱️ <b>সময়:</b> ${new Date().toLocaleString('bn-BD')}\n\n${data.count > 0 ? `✅ সব বাতিল ডিপোজিট আপডেট করা হয়েছে\n📬 ব্যবহারকারীদের নোটিফিকেশন পাঠানো হয়েছে` : 'কোনো expired deposit নেই।'}\n`.trim();\n\nreturn {\n  json: {\n    message,\n    count: data.count\n  }\n};"
      },
      "id": "format-telegram",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "jsCode": "// Final result\nconst data = $input.first().json;\nreturn {\n  json: {\n    success: true,\n    deposits_cleaned: data.count,\n    notifications_sent: data.count,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "final-result",
      "name": "Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Prepare Query", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Query": {
      "main": [
        [{ "node": "Query Expired Deposits", "type": "main", "index": 0 }]
      ]
    },
    "Query Expired Deposits": {
      "main": [
        [{ "node": "Extract Deposits", "type": "main", "index": 0 }]
      ]
    },
    "Extract Deposits": {
      "main": [
        [{ "node": "Prepare Update", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Update": {
      "main": [
        [{ "node": "Reject Deposits", "type": "main", "index": 0 }]
      ]
    },
    "Reject Deposits": {
      "main": [
        [{ "node": "Insert Notifications", "type": "main", "index": 0 }]
      ]
    },
    "Insert Notifications": {
      "main": [
        [{ "node": "Format Report", "type": "main", "index": 0 }]
      ]
    },
    "Format Report": {
      "main": [
        [{ "node": "Send Telegram", "type": "main", "index": 0 }]
      ]
    },
    "Send Telegram": {
      "main": [
        [{ "node": "Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "plokymarket", "id": "tag-plokymarket" },
    { "name": "cleanup", "id": "tag-cleanup" }
  ]
}
