automation/workflows/news_scraper.json
{
    "name": "News Scraper",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "name": "Schedule",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://en.prothomalo.com/feed",
                "options": {
                    "retry": {
                        "limit": 3,
                        "statusCodes": "429,500,502,503,504",
                        "errorCodes": "ECONNRESET,ETIMEDOUT,ECONNREFUSED"
                    }
                }
            },
            "name": "Fetch RSS",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "dataPropertyName": "data"
            },
            "name": "XML to JSON",
            "type": "n8n-nodes-base.xml",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "return items[0].json.rss.channel.item.map(item => {\n  return {\n    json: {\n      title: item.title,\n      link: item.link,\n      pubDate: item.pubDate,\n      description: item.description\n    }\n  }\n});"
            },
            "name": "Split Items",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {},
            "id": "error-trigger",
            "name": "Error Trigger",
            "type": "n8n-nodes-base.errorTrigger",
            "typeVersion": 1,
            "position": [
                250,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.ALERT_WEBHOOK_URL }}",
                "sendBody": true,
                "contentType": "json",
                "body": {
                    "embeds": [
                        {
                            "title": "[CRITICAL] n8n Workflow Failure",
                            "description": "=Workflow: {{ $workflow.name }}\\nNode: {{ $json.error.node.name }}\\nError: {{ $json.error.message }}",
                            "color": 15158332,
                            "timestamp": "={{ $now }}"
                        }
                    ]
                },
                "options": {
                    "retry": {
                        "limit": 3,
                        "statusCodes": "429,500,502,503,504",
                        "errorCodes": "ECONNRESET,ETIMEDOUT,ECONNREFUSED"
                    }
                }
            },
            "id": "alert-webhook",
            "name": "Send Alert",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                470,
                500
            ]
        }
    ],
    "connections": {
        "Schedule": {
            "main": [
                [
                    {
                        "node": "Fetch RSS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch RSS": {
            "main": [
                [
                    {
                        "node": "XML to JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "XML to JSON": {
            "main": [
                [
                    {
                        "node": "Split Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Error Trigger": {
            "main": [
                [
                    {
                        "node": "Send Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}