automation/workflows/news_scraper_advanced.json
{
    "name": "Advanced News Scraper (AI + Telegram)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutes": 30
                        }
                    ]
                }
            },
            "name": "Schedule",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://en.prothomalo.com/feed"
            },
            "name": "Fetch RSS",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "dataPropertyName": "data"
            },
            "name": "XML to JSON",
            "type": "n8n-nodes-base.xml",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Filter duplicates and keywords\n// In a real scenario, you'd check DB for existing URLs here\nconst items = items[0].json.rss.channel.item;\nconst keywords = ['election', 'cricket', 'policy', 'price'];\n\nreturn items.filter(item => \n  keywords.some(k => item.title.toLowerCase().includes(k) || item.description.toLowerCase().includes(k))\n).map(item => ({\n  json: {\n    title: item.title,\n    link: item.link,\n    pubDate: item.pubDate,\n    description: item.description\n  }\n}));"
            },
            "name": "Filter & Split",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "prompt": {
                    "messages": [
                        {
                            "role": "system",
                            "content": "You are a prediction market analyst. Analyze the news and suggest a Yes/No market question. Output JSON: { \"question\": \"...\", \"confidence\": 0.8, \"outcome_date\": \"YYYY-MM-DD\" }"
                        },
                        {
                            "role": "user",
                            "content": "News: {{ $json.title }}\nDescription: {{ $json.description }}"
                        }
                    ]
                }
            },
            "name": "OpenAI Analysis",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI Account"
                }
            }
        },
        {
            "parameters": {
                "table": "market_suggestions",
                "columns": "title, description, source_url, ai_confidence, status",
                "options": {}
            },
            "name": "Save to Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase Account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "YOUR_TELEGRAM_CHAT_ID",
                "text": "🤖 *New Market Suggestion*\n\nQuestion: {{ $json.question }}\nConfidence: {{ $json.confidence }}\nSource: {{ $node[\"Filter & Split\"].json.link }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Notify Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1450,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
                    "name": "Telegram Account"
                }
            }
        }
    ],
    "connections": {
        "Schedule": {
            "main": [
                [
                    {
                        "node": "Fetch RSS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch RSS": {
            "main": [
                [
                    {
                        "node": "XML to JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "XML to JSON": {
            "main": [
                [
                    {
                        "node": "Filter & Split",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter & Split": {
            "main": [
                [
                    {
                        "node": "OpenAI Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Analysis": {
            "main": [
                [
                    {
                        "node": "Save to Supabase",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Notify Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}