automation/workflows/oracle.json
{
    "name": "AI Oracle",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "resolve-market",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ $json.body.resolution_source }}",
                "responseFormat": "string",
                "options": {
                    "retry": {
                        "limit": 3,
                        "statusCodes": "429,500,502,503,504",
                        "errorCodes": "ECONNRESET,ETIMEDOUT,ECONNREFUSED"
                    }
                }
            },
            "name": "Fetch Source",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Mock AI Logic\nconst text = items[0].json;\nif (text.includes('won') || text.includes('victory')) {\n  return [{ json: { outcome: 'YES', confidence: 0.9 } }];\n}\nreturn [{ json: { outcome: 'NO', confidence: 0.8 } }];"
            },
            "name": "Mock AI Analysis",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {},
            "id": "error-trigger",
            "name": "Error Trigger",
            "type": "n8n-nodes-base.errorTrigger",
            "typeVersion": 1,
            "position": [
                250,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.ALERT_WEBHOOK_URL }}",
                "sendBody": true,
                "contentType": "json",
                "body": {
                    "embeds": [
                        {
                            "title": "[CRITICAL] n8n Workflow Failure",
                            "description": "=Workflow: {{ $workflow.name }}\\nNode: {{ $json.error.node.name }}\\nError: {{ $json.error.message }}",
                            "color": 15158332,
                            "timestamp": "={{ $now }}"
                        }
                    ]
                },
                "options": {
                    "retry": {
                        "limit": 3,
                        "statusCodes": "429,500,502,503,504",
                        "errorCodes": "ECONNRESET,ETIMEDOUT,ECONNREFUSED"
                    }
                }
            },
            "id": "alert-webhook",
            "name": "Send Alert",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                470,
                500
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Fetch Source",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Source": {
            "main": [
                [
                    {
                        "node": "Mock AI Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Error Trigger": {
            "main": [
                [
                    {
                        "node": "Send Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}